<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiros Passos</title>
</head>
<body>
    <header>
        <h1>Primeiros Passos</h1>
    </header>
    <main>
        <div class="background"> 
        <section>
            <p>Nesta etapa queremos saber como você pensa, identifica cenários de problemas, especifica seus testes e criação de automação em tecnologias e metodologias que já lhe são familiares. Para isso, estamos enviando um pequeno desafio. Não se preocupe, o desafio é relativamente simples, mas importante para conhecermos suas habilidades.</p>
        </section>

        <section>
            <h2>Detalhes sobre o desafio:</h2>
            <p>Considere que você foi designado para uma equipe responsável pelo desenvolvimento de uma aplicação web de uma biblioteca. Inicialmente, sua equipe produziu um protótipo, uma versão minimamente viável e funcional do produto para validação por pessoas-chave do projeto.</p>
        </section>

        <section>
            <h2>Requisitos do sistema</h2>
            <h3>Cadastro de novos usuários (CRUD):</h3>
            <ul>
                <li>Função: Cadastrar novos usuários na aplicação</li>
                <li>Campos: nome do usuário, CPF, data de nascimento</li>
                <li>Todos os campos são obrigatórios</li>
                <li>Temos opções de Salvar, mas o botão só fica habilitado depois de todos os campos preenchidos</li>
                <li>Na engrenagem podemos adicionar ou remover colunas da tabela</li>
                <li>O campo de pesquisa busca por qualquer dado na tabela</li>
                <li>Nos 3 pontinhos é possível editar ou excluir os dados da tabela</li>
            </ul>

            <h3>Cadastro de Autores</h3>
            <ul>
                <li>Função: Cadastrar novos autores na aplicação</li>
                <li>Campos: nome do autor, nacionalidade</li>
                <li>Todos os campos são obrigatórios</li>
                <li>Temos opções de Salvar, mas o botão só fica habilitado depois de todos os campos preenchidos</li>
                <li>Na engrenagem podemos adicionar ou remover colunas da tabela</li>
                <li>O campo de pesquisa busca por qualquer dado na tabela</li>
                <li>Nos 3 pontinhos é possível editar ou excluir os dados da tabela</li>
            </ul>

            <h3>Cadastro de Livros</h3>
            <ul>
                <li>Função: Cadastrar novos livros para a biblioteca</li>
                <li>Campos: data da publicação do livro, data de inclusão, se ele está disponível para empréstimo, título do livro, autor (este campo está vinculado ao cadastro de autores, portanto só aparecerão autores caso existam no cadastro de autores), editora e observações</li>
                <li>Todos os campos são obrigatórios e possuem uma validação para preenchimento deles</li>
                <li>Na engrenagem podemos adicionar ou remover colunas da tabela</li>
                <li>O campo de pesquisa busca por qualquer dado na tabela</li>
                <li>Nos 3 pontinhos é possível editar ou excluir os dados da tabela</li>
            </ul>
        </section>

        <section>
            <h2>Atividades:</h2>
            <h3>1 - Construir Casos de Teste:</h3>
            <p>Baseado nos requisitos do sistema, crie especificações de teste (casos de teste) para garantir a qualidade do software que está sendo construído. Caso conheça alguma metodologia para aplicação de testes, como por exemplo, Behavior Driven Design (BDD), você poderá aplicá-las se julgar necessário. Você terá a oportunidade de justificar suas escolhas.</p>

            <h3>2 - Construir Teste Automatizado:</h3>
            <p>Utilizando a especificação de testes criada, crie e execute alguns cenários de testes automatizados que validem o funcionamento do sistema, utilizando a aplicação.</p>
            <p>Atenção, o sistema disponibilizado não contém todos os requisitos do software, por se tratar de um protótipo. Contudo, os seus testes automatizados podem ser construídos para validar comportamentos e regras que serão construídos posteriormente.</p>

            <h3>3 - Melhorias para o sistema:</h3>
            <p>Baseado nos requisitos do sistema, descreva melhorias e/ou regras de negócio que podem ser criadas para o projeto.</p>
        </section>

        <section>
            <h2>Envio do desafio:</h2>
            <ol>
                <li>Crie um arquivo readme.doc com as soluções propostas para o desafio, como também com explicações de como rodar a automação de testes. Sinta-se à vontade também para expor suas ideias caso ache necessário, como por exemplo, o emprego de alguma metodologia de teste.</li>
                <li>Para fazer a entrega do desafio, compacte todo o conteúdo gerado (exceto arquivos compilados), incluindo o documento readme.doc, em um arquivo ZIP ou RAR e envie para os e-mails de contato. Podemos receber também via git, basta enviar o link.</li>
            </ol>
            <p>Iremos avaliar suas habilidades em entender e propor cenários de testes, operar alguma ferramenta de automação de testes e resolução de problemas. Caso não consiga entregar o desafio completo, não deixe de nos enviar, iremos considerar os pontos em que conseguiu avançar.</p>
        </section>

        <section>
            <h2>Agradecimento:</h2>
            <p>Obrigada por participar do nosso processo de seleção e ficamos no seu aguardo.</p>
        </section>
        <div class="spacer"> </div>
    </div>
    </main>
</body>
</html>
