html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-container {
  margin-top: auto;
  padding: 20px;
  padding-bottom: 60px; /* Aumente este valor para subir os botões */
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Espaço entre os botões */
}
